<header>
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="https://www.juniper.net"><img src="images/logo_juniper.png" class="logoImage" alt=""></a>
      </div>
      <a class="antenaMedium font14 float-left" href="#"><h3 class="navbar-title"> Self Service Application for SAP Regression Suite </h3></a>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="/#/start">
            Home
            <span><img alt="jnpr-social-icon" src="images/jnpr-social-icon_arrow-outline-bold-right.svg" class="right-arrow"></span>
          </a>
        </li>
        <li>
          <a href="/#/status" >
            Status
            <span><img alt="jnpr-social-icon" src="images/jnpr-social-icon_arrow-outline-bold-right.svg" class="right-arrow"></span>
          </a>
        </li>
        <li>
          <a href="/#/help" id="current">
            Help
            <span><img alt="jnpr-social-icon" src="images/jnpr-social-icon_arrow-outline-bold-right.svg" class="right-arrow"></span>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</header>
<br><br><br>
<h3 id="header">Help Page</h3>
<div>
  <p style="margin:20px">Hi team! This is a simple Self Service Application where you can run regression suites for SAP functionalities. The following steps will help you in understanding the process:
    <ol>
      <li>Enter ther username in the respective input field.</li>
      <li>Select Scenarios which you want to run by selecting from the dropdowm menu available.</li>
      <li>Upload the respective testdata file for the scenario which you want to run.</li>
      <li>You also can run multiple scenarios by adding rows and following step 3.</li>
      <li>Once you have finished uploading your testdata files click on execute script. <br><span style="color: blue"><b>Note: Dont navigate or refresh until the testdata files are uploaded to the server.</b></span></li>
      <li>You can click on Get Status to check your result status. <br><span style="color: blue"><b>Note: Once you navigate to the next page your data will be in progress and the home page will be refreshed.</b></span></li>
      <li>Once the script execution has been completed the results will be mailed to you.</li>
      <li>If you have any queries mail to us at <span style="color: blue">wpsa-qa@juniper.net</span>. Thank you!</li>
    </ol>
  </p>

</div>
