<div class="col-md-offset-1 col-md-10 col-sm-12">
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="https://www.juniper.net" style="padding: 2.5px 15px;"><img src="images/logo_juniper.png" style="width:130px" alt=""></a>
      </div>
      <p class="navbar-text" href="#">
        <span style="font-size:15px;font-weight:bold;"> Self Service Application for SAP Regression Suite <span>
        </p>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="/#/start" >
              Home
              <span><img alt="jnpr-social-icon" src="images/jnpr-social-icon_arrow-outline-bold-right.svg" class="right-arrow"></span>
             </a>
          </li>
          <li>
            <a href="/#/status" id="current">
              Status
              <span><img alt="jnpr-social-icon" src="images/jnpr-social-icon_arrow-outline-bold-right.svg" class="right-arrow"></span>
            </a>
          </li>
          <li>
            <a href="/#/help">
              Help
              <span><img alt="jnpr-social-icon" src="images/jnpr-social-icon_arrow-outline-bold-right.svg" class="right-arrow"></span>
            </a>
          </li>
        </ul>
    </div>
  </nav>

</div>
<div class="col-md-offset-1 col-md-10 col-sm-12">
<div ng-controller="SapCtrl" class="panel panel-default mypanel" ng-cloak>
  <div class="panel-heading">
    <h3 class="panel-title">
      <strong>Status Page</strong>
    </h3>
  </div>
  <div class="panel-body">
  <table class="comicGreen">
    <tbody>
      <tr>
        <th>Slno</th>
        <th>Username</th>
        <th>Scenarios</th>
        <th>Execution</th>
        <th>Start Time</th>
        <th>End Time</th>
        <th>Result</th>
        <th>Remarks</th>
      </tr>
      <tr ng-repeat="data in listOfData">
        <td>{{data.slno}}</td>
        <td>{{data.username}}</td>
        <td>{{data.scenarios}}</td>
        <td>
          {{data.execution}}<br>
          <img id="mySpinner" src="Spinner.gif" ng-show="loading[data.slno]"/>
        </td>
        <td>{{data.starttime}}</td>
        <td>{{data.endtime}}</td>
        <td>{{data.result}}</td>
        <td>{{remarks[data.slno]}}</td>
      </tr>
    </tbody>
  </table>
</div>
</div>
</div>
