.container {
  display: flex;
  justify-content: center;
}
.center {
  width: 800px;
}
table {border-collapse:collapse; ; }

table.comicGreen {
  font-family: "Arial", cursive, sans-serif;
  border: 2px solid #1C6EA4;
  background-color: #EEEEEE;
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}
table.comicGreen td, table.comicGreen th {
  border: 2px solid #1C6EA4;
  padding: 3px 2px;
  overflow: hidden;
  max-width: 400px
  word-wrap:break-word;
}
table.comicGreen tbody td, table.comicGreen th {
  font-size: 19px;
  font-weight: bold;
  color: #1C6EA4;
}
table.comicGreen tr:nth-child(even) {
  background: #D0E4F5;
}

  body {
    background-color: white;
}
